.noise {
	position: fixed;
	pointer-events: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .2;

	&::after {
		background: url('../../img/filters/noise-web.webp');
		position: absolute;
		pointer-events: none;
		content: "";
		z-index: 10;
		width: 300vw;
		height: 300vh;
		top: -150vh;
		left: -150vw;
		bottom: 0;
		right: 0;
		animation: grain 8s steps(10) infinite;
	}
}


@keyframes grain {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-12%, 5%);
	}
	30% {
		transform: translate(7%, -12%);
	}
	40% {
		transform: translate(-5%, 15%);
	}
	50% {
		transform: translate(-8%, 12%);
	}
	60% {
		transform: translate(10%, 0%);
	}
	70% {
		transform: translate(0%, 15%);
	}
	80% {
		transform: translate(3%, 18%);
	}
	90% {
		transform: translate(-6%, 10%);
	}
}
