// PROJECT HEADER STYLE
// __________________________________________________________

nav{
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: flex;
    &--el{
        padding: 1rem;
    }
    
    &-link{
        color: $white;
        position: relative;
        
        &::before, &::after{
            @include pseudo-el();
            right: 0;
            bottom: -10px;
            height: .3rem;
            width: 0%;
        }

        &::before{
            background-color: $yellow-gold; 
            transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
        }
        
        &::after{
            background-color: $green-light;
            box-shadow: 0px 1px 13px 0px $green-light;   
            transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
        }
        
        &:hover, &:focus, &:active{
            color: $white;
            
            &::before, &::after{
                width: 100%;
                left: 0;
            }
        }
        
    }
}

.btn{
    display: inline-block;
    border-radius: .4rem;
    color: $blue;
    padding: 1.2rem 1.8rem;
    background-color: $green;
    margin-top: 4.8rem;
    transition: background-color .5s ease,
                box-shadow .5s ease;

    &:hover, &:focus, &:active{
        background-color: $green-light;
        color: $blue;
        box-shadow: 0px 1px 13px 0px #87C4C1;
    }
}

.networks{
    display: flex;
    align-items: center;
    justify-content: center;

    &-el{
        width: 4rem;
        height: 4rem;
        margin-right: 3.2rem;

        &:last-child{
            margin-right: 0;
        }
    }
    
    &-img{
        position: absolute;
        fill: $yellow-gold;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &-link{
        display: block;
        position: relative;
        height: 4rem;
        width: 4rem;

    }

    &-img{
        transition: fill .5s ease,
                    drop-shadow .5s ease;

        &:hover, &:focus, &:active{
            fill: $green-light;
            filter: drop-shadow(0px 0px 1px rgba(135, 196, 193, 0.5));
        }
    }

      
}


@media screen and (min-width: $lg-bp){
    .btn{
        &:hover{
            background-color: $green-light;
            color: $blue;
            box-shadow: 0px 1px 10px 0px #87C4C1;
        }
    }
    
    
}