
.projects-page{
    background: $blue;
    background: radial-gradient(ellipse at center left, $blue-green, $blue);
}

@media screen and (max-width: 767px){
    .projects-page{
        main{
            padding: 0;
        }
    }
}