// PROJECT VARIABLES
// __________________________________________________________


// BREAKPOINTS
// __________________________________________________________

$sm-bp: 575px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;




// COLORS
// __________________________________________________________


$white:#F6E3BF;
$white-dark:#EEDFBE;
$yellow-gold: #D9A750;
$green:#6EA6A3;
$green-light:#87C4C1;
$blue:#222E50;
