// PROJECT VARIABLES
// __________________________________________________________


// BREAKPOINTS
// __________________________________________________________

$sm-bp: 575px;
$md-bp: 768px;
$lg-bp: 992px;
$xl-bp: 1200px;
$xxl-bp: 1600px;


// COLORS
// __________________________________________________________


$white:#F6E3BF;
$white-dark:#EEDFBE;
$white-dark-border:hsl(41, 59%, 64%);
$yellow-gold: #D9A750;
$green:#6EA6A3;
$green-light:#87C4C1;
$blue:#222E50;
$blue-green:#26556C;
$blue-border:hsl(224, 40%, 12%);
