// PROJECT DEFAULT PAGE STYLE
// __________________________________________________________

body{
    background: $blue;
    background: radial-gradient(ellipse at top right, $blue-green, $blue);
    background-repeat: no-repeat;
    position: relative;
    
    &::after{
        background: transparent url('../../img/filters/stars.png') repeat;
        position: absolute;
        pointer-events: none;
        display: block;
        content:"";
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}


.body-border{
    border: 1rem solid $blue-border;
    pointer-events: none;
    border-radius: 0;
    position: fixed;
    display: block;
    content:"";
    width: 100vw;
    height: 100vh;   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &::before{
        position: absolute;
        display: block;
        content: "";
        box-shadow: 1rem solid $blue-border;
        box-shadow: 0px 0px 0px 7px $blue-border;
        border-radius: 1rem;
        height: 100%;
        width: 100%;
    }
}



@media screen and (min-width: $md-bp){
    .body-border{
        border: 1.4rem solid $blue-border;
            &::before{              
                box-shadow: 1.4rem solid $blue-border;
            }
    }
}