// PROJECT DEFAULT PAGE STYLE
// __________________________________________________________

body{
    background: #232F50;
    background: -webkit-radial-gradient(top right, #26556C, #232F50);
    background: -moz-radial-gradient(top right, #26556C, #232F50);
    background: radial-gradient(to bottom left, #26556C, #232F50);
    position: relative;

    &::after{
        background: transparent url('../../img/filters/stars.png') repeat;
        position: absolute;
        pointer-events: none;
        display: block;
        content:"";
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}